<div class="signupbox">
    <div style="height: 100%;">
        <div style="display: flex;flex-direction:row;">
            <div style="margin: auto;">
                <p>
                User
                </p>
                <input type="text" id="user" #user>
                <p>
                Password
                </p>
                <input type="password" id="password" #password>
            </div>
            <div style="margin: auto;">
                <p>
                Identity
                </p>
                <input type="text" id="identity" #identity>
                <p>
                City
                </p>
                <input type="text" id="city" #city>
            </div>
        </div>
        <div style="width: 100%;display: flex;align-items: center;">
            <button type="submit" (click)="cadastro()">
                Sign Up
            </button>
        </div>
    </div>
</div>