<div class="signupbox">
    <div style="height: 100%;">
        <div style="display: flex;flex-direction:row;">
            <div style="margin: auto;">
                <p>
                User
                </p>
                <input type="text" id="user">
                <p>
                Password
                </p>
                <input type="password" id="password">
            </div>
            <div style="margin: auto;">
                <p>
                Identity
                </p>
                <input type="text" id="identity">
                <p style="font-size: 30px;margin-top: 10px;">
                Confirm Password
                </p>
                <input type="password" id="confirm-password">
            </div>
        </div>
        <div style="width: 100%;display: flex;align-items: center;">
            <button type="submit">
                Sign Up
            </button>
        </div>
    </div>
</div>