#background-half {
    position: absolute;
    top: 50%;
    left: 0px;
    background-color: #FFD700;
    width: 100%;
    height: 50%;
    z-index: -1;
}

h1 {
    margin: auto;
    width: fit-content;
    margin-top: 15px;
    color: #FFD700;
    font-size: 50px;
}

#maincontent {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin: auto;
    font-size: 60px;
    text-align: center;
}

#mapa {
    background-color: green;
    width: 70%;
    height: 750px;
}

a {
    margin: auto;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
}

h2 {
    margin: auto;
    width: fit-content;
    margin-top: 5px;
    color: #0057B7;
    font-size: 30px;
}

button {
    height: 40px;
    width: 120px;
    margin: auto;
    background-color: #0057B7;
    color: #FFD700;
    font-size: 25px;
}