<div id="background-half"></div>

<h1>Ukraine Regions State Map</h1>

<div id="maincontent">
    <div style="width: 15%;">
        <p style="color: #FFD700;">
            Slava
        </p>
        <p style="color: #0057B7;">
            Ukraini
        </p>
    </div>
    <div id="mapa">
        <!--TODO MAPA---->
    </div>
    <div style="width: 15%; display: flex;flex-direction: column;" #login_div>
        <a style="color: #FFD700;" href="/signup">
            Sign Up
        </a>
        <a style="color: #0057B7;" href="/login">
            Login
        </a>
    </div>
    <div style="width: 15%; display: none;" #texto_div>
        <p style="color: #FFD700;">
            Slava
        </p>
        <p style="color: #0057B7;">
            Ukraini
        </p>
    </div>
</div>
<div style="display: none;" #botoes_div>
    <h2>Select the region in the map and the status</h2>
    <div style='width: 40%; margin:auto; margin-top: 5px; display: flex;'>
        <button>Safe</button>
        <button>At war</button>
        <button>Caution</button>
    </div>
</div>

